[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djoser = "*"
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"

[requires]
python_version = "3.7"
